body {
    font-family: Helvetica, sans-serif;
    background-color: #adaaf3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #212a47;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #343a40;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #5e5bd8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4c4ba9;
}

.results {
    margin-top: 30px;
}

.list-group {
    list-style: none;
    padding: 0;
    counter-reset: claim-counter;
}

.list-group-item {
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    counter-increment: claim-counter;
}

.list-group-item::before {
    content: counter(claim-counter) ".";
    position: absolute;
    top: 15px;
    left: 10px;
    font-weight: bold;
    color: #5e5bd8;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    margin-top: 20px;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.1rem;
}
